:root {
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  max-width: 1280px;
  background-color: beige;
  margin: 0px auto;
}

body {
  margin: 0px !important;
  background-color: beige;
  border: 1px solid #ddd;
}

.page-container {
}

.nav {
}

nav {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 8px;
}
nav .logo .title {
  color: beige;
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}
nav ul li {
  color: beige;
  padding: 22px 40px;
  background-color: #333333;
}

nav ul li:hover {
  background-color: #222222;
}
nav ul li.active {
  background-color: #222222;
}

nav ul li a {
  color: beige;
  text-decoration: none;
}

/* Tablets */

@media all and (max-width: 800px) {
  nav {
    justify-content: flex-start;
  }
  nav ul {
    justify-content: space-between;
  }
}

/* Phones */

@media all and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
  nav ul li {
    text-align: center;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    top: -100px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background-image: url(//unsplash.it/900/450/);
  background-size: cover;
  background-color: #333333;
  text-align: center;
}

.banner .heading {
  flex: 1;
  justify-self: center;
  color: beige;
  font-size: 3em;
  font-weight: bold;
  position: relative;
  animation: appear 2s ease-in-out 0s forwards;
}
.banner .heading small {
  font-size: 24px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #222222;
  text-align: center;
  padding: 24px;
  right: 0;
  color: beige;
}
